@{
    ViewBag.Title = "Start";
    Layout = "_layout";
}
@model IEnumerable<Article>

<div class="container">
    <h1 class="mb-5 mt-3">News Applictation</h1>
    <div class="row">
        <div class="mb-3">
            <a class="btn btn-primary" asp-action="Create">Create New Article</a>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex flex-wrap justify-content-start">
            @foreach (var article in Model)
            {
                <div class="card mb-3 me-3" style="width: 32rem;">
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">@article.Headline</h5>
                        <p class="card-text">@article.ContentPreview</p>
                        <div class="mt-auto d-flex gap-2">
                            <a asp-action="Details" class="btn btn-success" asp-route-id="@article.Id">Details</a>
                            <a class="btn btn-warning" asp-action="Edit" asp-route-id="@article.Id">Edit Article</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@article.Id">Delete Article</a>
                        </div>
                    </div>
                    <div class="card-footer">
                        @article.Author?.Fullname | @article.CreatedAt.ToShortDateString()
                    </div>
                </div>
            }
        </div>
    </div>
</div>