@{
    ViewBag.Title = "Home";
}

@model IEnumerable<Termin>

<div class="mt-4">
    <div class="d-flex justify-content-between align-items-center mt-5">
        <h1 class="m-0">Termin Übersicht</h1>
        <div>
            <a class="btn btn-primary" asp-action="">Patienten</a>
            <a class="btn btn-primary" asp-action="">Ärzte</a>
            <a class="btn btn-primary" asp-action="Create">Neuer Termin</a>
        </div>
    </div>
    <hr/>
    <table class="table text-center align-middle my-table">
        <tr>
            <th>Termin ID</th>
            <th>Arzt</th>
            <th>Patient</th>
            <th>Datum</th>
            <th>Wahrgenommen</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        @foreach (var termin in Model)
        {
            <tr>
                <td>@termin.Id</td>
                <td>@termin.Arzt?.Fullname</td>
                <td>@termin.Patient?.Fullname</td>
                <td>@termin.TerminZeit.ToShortDateString()</td>
                <td>@(termin.Wahrgenommen ? "Ja" : "Nein")</td>
                <td><a class="btn btn-success" asp-action="Edit" asp-route-id="@termin.Id">Edit</a></td>
                <td><a class="btn btn-danger" asp-action="Delete" asp-route-id="@termin.Id">X</a></td>
            </tr>
        }
    </table>
</div>